<template lang="html">
  <section class="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2 id="about" class="text-center">About Me</h2>
					<p>I am a Web Accessibility Specialist and help lead the accessibility strategy at <a href="https://www.ithaka.org/" target="_blank">ITHAKA <span class="fa fa-external-link mr-0" aria-hidden="true"></span></a> supporting our mission to expand access to knowledge and education around the world.</p>
					<p>I have several years experience in HTML, CSS, JavaScript, PHP, SQL, Git with working knowledge of WordPress and Laravel development.</p>
					<p>Prior to making the switch to accessibilty advocacy, I was a front-end web developer and have an academic background in Political Science and International Relations. My career started in the non-profit/association space working on special projects and quickly realized that I excelled most when using code to make things more beautiful and efficient.</p>
					<p>I'm interested in collaboration, open-source projects, and focusing on making more accessible web experiences for all users.</p>
					<p>Pronouns: <a href="http://pronoun.is/he" target="_blank">he/him <span class="fa fa-external-link mr-0" aria-hidden="true"></span></a></p>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
  name: "about"
};
</script>
