<template lang="html">
  <section class="intro">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-4 ml-auto">
					<img :src="info.gravatar" class="rounded-circle img-fluid d-block mx-auto" alt="Mat Harris Profile Picture">
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
  name: "intro",

  props: {
    info: Object
  }
}
</script>
