<template lang="html">
    <nav class="main-nav">
        <ul class="navbar-nav flex-row ml-auto" role="menu">
            <li v-for="link in links" :key="link.name" class="nav-item" role="none">
                <router-link :to="link.link" class="nav-link px-3" role="menuitem">{{link.name}}</router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: 'main-nav',

    props: {
        links: Array
    }
}
</script>