body {
  font: {
    family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    weight: 300;
    size: 20px;
  }

  background: #1e4998;
  color: $white;
  text-decoration: none;
  line-height: 1.5;
  font-size: 1rem;
}

p {
  @media screen and (min-width: 600px) {
    font-size: 1.25rem;
  }
}

a {
  color: $white;
  text-decoration: none;
  font-weight: 700;

  &:hover,
  &:focus {
    color: theme-color("primary");
    text-decoration: underline;
  }
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  color: $white;
}

h2 {
  font-size: 1.63em;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5em;
}

h2,
h3 {
  margin-top: 0;
}

blockquote {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-top: 5%;
}

blockquote footer {
  color: theme-color("primary");
}
