.navbar {
	margin-bottom: 0;
	padding: 15px 0;

	.navbar-header {
		float: none;
	}

	&.navbar-dark {
		.nav-link {
			color: $white;
		}
	}
}

section {
	@extend .container-fluid;

	padding: 30px 0;
	padding-bottom: 30px;
	border-bottom: 5px solid #eee;
}

footer {
	padding: 30px 0;
}
