.header {
	overflow: hidden;

	a {
		display: block;

		img {
			width: 100%;

			@media screen and (min-width: 600px) {
				max-width: 100px;
			}
		}
	}

	.panel-title {
		position: relative;
		margin-top: 15px;
		padding-right: 10px;
		font-size: 1.2rem;


		a {
			font-weight: 700;
			color: $cyan;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		@media screen and (min-width: 600px) {
			margin-top: 30px;
			font-size: 2.25rem;

			a {
				font-weight: 400;
			}
		}
	}

	.fa-code {
		font-size: 3rem;

		@media screen and (min-width: 600px) {
			font-size: 6rem;
		}
	}

	.fa-caret-down {
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1.6rem;

		@media screen and (min-width: 600px) {
			font-size: 1.8em;
			top: -15px;
		}
	}
}

.profile {
	padding: 15px 0;

	h4 {
		margin-top: 30px;
	}
	
	ul {
		padding-left: 0;
  }

  li {
		display: block;
		list-style: none;
		font-size: 1.5em;
		line-height: 2em;
	}

	span {
		font-weight: 700;
  }

  .icon {
		height: 80px;
		margin: 5px 0;
	}
}

.projects {
	background-color: #31708f;

	.profile {
		padding-top: 30px;
	}
}

.project {
	margin-bottom: 30px;

	figure {
		min-height: 125px;
		margin-bottom: 20px;
		text-align: center;
	}

	a {
		display: block;
		width: 100%;

		&:hover,
		&:focus {
			img {
				box-shadow: none;
			}
		}
	}

	img {
		width: 100%;
		margin: 0 auto;
		box-shadow: 0px 1px 1px rgba(17, 17, 17, 0.25);
		transition: all ease .3s;

		@include media-breakpoint-up(md) {
			height: 120px;
			width: auto;
		}
	}

	h3 {
		font-size: 20px;
		text-align: center;
	}
}

.badges {
	margin-top: 15px;

	li {
		font-size: 1em;
		font-weight: 700;
	}

	img {
		height: 80px;
		margin: 5px 0;
	}

	a {
		display: block;
		margin: 15px 0;
		font-size: 1.25rem;
		color: theme-color('primary');

		&:hover,
		&:focus {
			color: #fff;
		}
	}

	img {
		margin-right: 5px;
		max-width: 100px;
	}
}

.totalpts {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0;
}

// Team Treehouse Profile


.total { margin-top: 3px; }

.tthbadge {
	p {
		display: inline-block;
		margin-left: 30px;
		width: 60%;
		vertical-align: middle;
	}
}

#badges h3 {  margin-top: 0; }

.fa {  margin-right: 10px; }

// Code School Report Card
.cdschool {
	h4 {
		a {
			color: theme-color('primary');

			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
}

// Contact Me section
.contact {
	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
		line-height: 1.5em;
	}
}
