.intro {
    background-color: #135;
    background-image: url(/images/seattle-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1,
    h2 {
        text-shadow: 0px 1px 1px rgba(17, 17, 17, 0.25);
    }

    h2 {
      color: #fff;
    }
}

.about { background-color: #246; }

.teamtreehouse { background-color: #468; }

.codeschool { background-color: #4cadc0 }

.contact { background-color: #357; };

.html { color: #39add1; }

.css { color: #3079ab; }

.js { color: #C25975; }

.wp { color: #838CC7; }

.devtools { color: #637a91; }

.php { color: #7D669E; }
